<div class="main" align="center">
  <div class="header">
    <h1 style="color: white " align="center">Breaking Bad Characters</h1>
    <h2>spoilers alarm</h2>
    <p align="center">
      <button (click)="onSetStatus('all')">All</button>
      <button (click)="onSetStatus('alive')">Alive</button>
      <button (click)="onSetStatus('deceased')">Deceased</button>
      <button (click)="onSetStatus('presumed dead')">Presumed Dead</button>
    </p>
  </div>
  <div class="album bg-light">
    <div class="row">

      <div class="col-md-4" *ngFor="let character of characters | async | filterStatus: status">
        <img src="{{ character.img }}" style="padding-top: 10px" width="50%" height="65%" alt="Image of character">
        <p> name: {{ character.name }}</p>
        <p> birthday: {{character.birthday }} </p>
        <p> portrayed: {{character.portrayed}}</p>
        <p> status: {{ character.status }}</p>
        <a [routerLink]="['quotes', character.name]">Character Quote's</a>

      </div>

    </div>
  </div>
</div>
