@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Bebas+Neue&family=Nerko+One&display=swap');

<<<<<<< Updated upstream
.col-md-4{
  border: solid;

}

=======

.filter{
  font-size: 24px;
}
.season{
  font-size: 26px;
}
.col-md-3{
  padding-bottom: 80px;

}

.filterName{
  display: flex;

}


.form-control{
  text-align: center;
  width: 20%;
}
.name{
  font-style: inherit;
  font-size: 26px;
}


>>>>>>> Stashed changes
.header{
  background: black;
}
.head1{
  font-size: 38px;
  font-weight: bold;
}

button{
  font-size: 28px;
  padding: 8px;

}

.main {
  background: black;
  font-family: 'Alatsi', serif;
}
p {
  font-size: 22px;
}

a {
  border: groove  green;
  font-size: 22px;
  color: rgba(5,87,0,0.94);
}
