<div class="main" align="center">
  <div class="header">
    <h1 style="color: white " align="center">Breaking Bad Characters</h1>
    <h2>spoilers alarm</h2>
    <p align="center">
      <button (click)="onSetStatus('all')">All</button>
      <button (click)="onSetStatus('alive')">Alive</button>
      <button (click)="onSetStatus('deceased')">Deceased</button>
      <button (click)="onSetStatus('presumed dead')">Presumed Dead</button>
    </p>
  </div>
  <mat-paginator
    style="background: black"
    [pageSizeOptions]="[5,10,20,30,40,50]"
    (page)="changePage($event)"
    [pageSize]="pageSize"
    [pageIndex]="page"
    [length]="(characters | async)?.length"
  >

  </mat-paginator>
  <div class="album bg-light">
    <br>
    <h1 align="center" class="filter">Filter: <label>
      <input [(ngModel)]="name" placeholder="name">
    </label></h1>

    <h1 class="season" align="center">Set season: </h1>
    <p align="center">
      <button (click)="onSetSeason(0)">All</button>
      <button (click)="onSetSeason(1)">1</button>
      <button (click)="onSetSeason(2)">2</button>
      <button (click)="onSetSeason(3)">3</button>
      <button (click)="onSetSeason(4)">4</button>
      <button (click)="onSetSeason(5)">5</button>
    </p>

    <div class="row">
      <div *ngFor="let character of characters | async |
       filterStatus: status |
        filterName: name |
         filterSeason: season |
          slice:(page * pageSize) :
           ((page+1) * pageSize)" class="col-md-3">

        <p class="name"> {{ character.name }}</p>
        <p><a [routerLink]="['quotes', character.name]">Character Quote's</a></p>
        <img src="{{ character.img }}" width="50%" height="65%" alt="Image of character">
        <p> birthday: {{character.birthday }} </p>
        <p> portrayed: {{character.portrayed}}</p>
        <p> status: {{ character.status }}</p>
        <p> seasons: {{ character.appearance }}</p>

      </div>

    </div>
  </div>
</div>
