@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Bebas+Neue&family=Nerko+One&display=swap');


.filter{
  font-size: 24px;
}
.season{
  font-size: 26px;
}
.col-md-3{
  padding-bottom: 100px;

}
.isClicked {
  color: gray;
}

.name{
  font-style: inherit;
}
.header{
  background: black;
}

button{
  padding: 10px;
  font-size: 28px;

}

.main {
  background: black;
  font-family: 'Alatsi', serif;
}
p {
  font-size: 22px;
}

a {
  border: groove  green;
  font-size: 22px;
  color: rgba(5,87,0,0.94);
}
